name: Common CI

on:
  push:
    branches:
      - master
      - dev
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

concurrency:
  group: common-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spotless-check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Set up Android SDK License
        run: yes | /usr/local/lib/android/sdk/tools/bin/sdkmanager --licenses

      - name: spotlessCheck with Gradle
        run: ./gradlew :common:spotlessCheck :common:lint

  unit-test:
    needs: spotless-check
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Setup Andoird SDK License
        run: yes | /usr/local/lib/android/sdk/tools/bin/sdkmanager --licenses

      - name: Run test in commonTest and androidTest
        run: ./gradlew :common:test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: unit-test-result
          path: "**/build/test-results/**/*.xml"

